body {
    background: #032910;
  }
  main {
    background: rgb(16, 46, 2);
    margin: 20px 0;
    padding: 10px;
  }
  
h1,p {
    color: rgb(13, 151, 48);
    display: flex;
  };

.picture
{
    display: flex;
    justify-content: center;
    align-items: center;
}
  